{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browserlist": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
